body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11 {
  position:fixed;
  left:0px;
  top:0px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:100px;
  background-image:none;
}
#u11_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:100px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:100px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:414px;
  height:651px;
  overflow:hidden;
}
#u13_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:651px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:651px;
  overflow:hidden;
}
#u14_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:651px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u14_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:721px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:721px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u16_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:57px;
  background-image:none;
}
#u16_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:57px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:57px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:80px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u11.a {
  position:fixed;
  left:0px;
  top:0px;
}
#u12.a {
  width:375px;
  height:91px;
}
#u12_img.a {
  width:375px;
  height:91px;
}
#u12.a {
  width:375px;
  height:91px;
}
#u11_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:91px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u13.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:375px;
  height:495px;
}
#u14.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:495px;
}
#u15.a {
  width:375px;
  height:653px;
}
#u15_img.a {
  width:375px;
  height:653px;
}
#u15.a {
  width:375px;
  height:653px;
}
#u14_state0.a {
  width:392px;
  height:495px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u13_state0.a {
  width:375px;
  height:495px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u16.a {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u17.a {
  width:375px;
  height:52px;
}
#u17_img.a {
  width:375px;
  height:52px;
}
#u17.a {
  width:375px;
  height:52px;
}
#u18.a {
  width:72px;
  height:51px;
}
#u19.a {
  left:77px;
  width:72px;
  height:51px;
}
#u16_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
